* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: none;
}

/**
   * @STYLES FOR THE APP
  */

html {
  min-width: 100%;
  min-height: 100vh;
  background-color: #F7F8FC;
  overflow: hidden;
}
